@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ArticleFormModel

<h2>Détail de l'article @Model.Id</h2>


<form asp-action="Edit">
    <div class="form-group">
        <input asp-for="Id" type="hidden" value="@Model.Id" />
        <p>
            <label>Nom : </label>
            <input asp-for="Nom" type="text" value="@Model.Nom" class="form-control" required/>
        </p>
        <p>
            <label>Prix : </label>
            <input asp-for="Prix" type="number"  value="@Model.Prix" class="form-control" required step="any"/>
        </p>
        <p>
            <label>EAN : </label>
            <input asp-for="CodeEAN13" type="text" value="@Model.CodeEAN13" class="form-control" required/>
        </p>
        <p>
            <label>Description : </label>
            <input asp-for="Description" type="text" value="@Model.Description" class="form-control" />
        </p>
        <p>
            <label asp-for="IdCategorie" class="control-label">Categorie : </label>
            <select asp-for="IdCategorie">
                @foreach (CategorieModel cat in @Model.CategorieList)
                {
                    if (@cat.IdCategorie == Model.IdCategorie)
                    {
                        <option value="@cat.IdCategorie" selected>@cat.Libelle</option>
                    }
                    else
                    {<option value="@cat.IdCategorie">@cat.Libelle</option>}

                    }

            </select>

        </p>
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
</form>

<a asp-action="Index">Back to articles list</a>