@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ArticleModel

<h2>Détail de l'article @Model.IdArticle</h2>


<form asp-action="Edit">
    <div class="form-group">
        <input asp-for="IdArticle" type="hidden" value="@Model.IdArticle" />
        <p>
            <label>Nom : </label>
            <input asp-for="Nom" type="text" value="@Model.Nom" class="form-control" required/>
        </p>
        <p>
            <label>Prix : </label>
            <input asp-for="Prix" type="number"  value="@Model.Prix" class="form-control" required step="any"/>
        </p>
        <p>
            <label>EAN : </label>
            <input asp-for="CodeEAN13" type="text" value="@Model.CodeEAN13" class="form-control" required/>
        </p>
        <p>
            <label>Description : </label>
            <input asp-for="Description" type="text" value="@Model.Description" class="form-control" />
        </p>
        <p>
            <label>Categorie : </label>
            <input asp-for="IdCategorie" type="number" value="@Model.IdCategorie" class="form-control" required />
        </p>
    </div>
    <button type="submit" class="btn btn-primary">Modifier</button>
</form>

<a asp-action="Index">Back to articles list</a>